<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/HOMEPAGE.css">
</head>
<body>
    <div class="WHOLEPAGE">
        <div class="HEADALL">
            <!--Is divided into 2 the first for the logo and signin...-->
            <!--The first-->
            <div class="HEADF">
                <div class="HEADF1">
                </div>
                <div class="HEADF2">
                    <a class="LINKS" href="{{ url_for('login') }}"> Login</a>
                    <a class="LINKS">SignUp</a>

                </div>
                <div class="HEADF2">  
                                               
                        <a class="LINKSD">Contact Us</a>
                        <a class="LINKSD">Service</a>
                        <a class="LINKSD">About Us</a>
                        <a class="LINKSD"> Home</a>
                </div>
            </div>
            <!--LAST-->
            <div class="HEADL">
                <div class="COND">
                    <h1 class="myFont">We are the best in out Services</h1>
                    <p class="pEdit">Click up the link to sign in for a wondefull experience with Bermuda Vehicle rental</br>
                        <a class="LINKLL">SIGNUP</a></p>
                </div>

            </div>

        </div>
    </div>
    
    
</body>
</html>